.intro-card {
    min-height: 20vh;
}

.clickable:hover {
    border: solid 2px #6C63FF;
    cursor: pointer;
}

.yoga-banner {
    background: url('../../../assets/illustrations/yoga.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.90;
    background-size: contain;;
    height: 30vh;
}

.working-out-banner {
    background: url('../../../assets/illustrations/working_out.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.90;
    background-size: contain;;
    height: 30vh;
}

.stability-ball-banner {
    background: url('../../../assets/illustrations/stability_ball.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.90;
    background-size: contain;;
    height: 30vh;
}

.personal-trainer-banner {
    background: url('../../../assets/illustrations/personal_trainer.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.90;
    background-size: contain;;
    height: 30vh;
}

.indoor-bike-banner {
    background: url('../../../assets/illustrations/indoor_bike.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.90;
    background-size: contain;;
    height: 30vh;
}

.healthy-habit-banner {
    background: url('../../../assets/illustrations/healthy_habit.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.90;
    background-size: contain;;
    height: 30vh;
}